<h3 class='border-bottom pb-2 mb-4'>
  <%= @document.persisted? ? "Edit Document" : 'New Document' %>
</h3>

<%= form_with model: @document, local: true do |f| %>

  <%= render 'application/errors', obj: @document %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <% if @document.valid_attachments.any? %>
    <%= f.collection_check_boxes(:remove_files, @document.valid_attachments, :id, :file_name) do |a|%>
      <div class="input-group mb-3">
        <div class="btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-danger rounded-circle">
            <%= a.check_box %>
            X
          </label>
          <%= a.object.file_name %>
        </div>
      </div>
   <% end %>
 <% end %>

  <div class="form-group">
    <%= f.file_field :attachments, multiple: true, class: "form-control-file" %>
    <small>
      <%= f.label :attachments, AttachmentUploader.extension_whitelist.join(', ') %>
    </small>
  </div>

  <%= f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", documents_path, class: "btn btn-secondary" %>

<% end %>
