<!DOCTYPE html>
<html>
  <head>
    <title>DocRegister</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'application/navbar'%>
    <%= render 'application/notice_alert'%>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-4">
        </div>
        <div class="col-lg-4">
          <%= yield %>
        </div>
        <div class="col col-lg-4">
        </div>
      </div>
    </div>
  </body>
</html>
